body{
    height: 100vh;
    background-color: rgba(69, 117, 136, 0.788);
}
.game{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 30px auto;
}
.card-block{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: calc(20% - 10px);
    margin: 0 10px;
    transform: scale(.90);
    -webkit-transform: scale(.90);
    -moz-transform: scale(.90);
    -ms-transform: scale(.90);
    -o-transform: scale(.90);
    perspective: 550px;
}
.card-block:hover{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    position: relative;
}
.card{
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    position: relative;
}
.face{
    position: relative;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 2px solid #000000;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
}
.face:hover{
    box-shadow: -10px 18px 10px 0 rgba(0,0,0, .3);
}
.front{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.back{
    position: relative;
    width: 100%;
    height: 100%;
}
.flip{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
}
.hiden-card{
    visibility: hidden;
}
